@nstypes:registry=https://asia-northeast1-npm.pkg.dev/netsmile-infra/netsmile-npm-repo/
@netsmile:registry=https://asia-northeast1-npm.pkg.dev/netsmile-infra/netsmile-npm-repo/
//asia-northeast1-npm.pkg.dev/netsmile-infra/netsmile-npm-repo/:always-auth=true
